@import "tailwindcss";

/*Primary: E43D12

Secondary: D6536D

Accent: FFA2B6

Highlight: EFB11D

Background: EBE9E1*/

#root {
  max-width: 1280px;
  /* margin: 0 auto; Removed to let sidebar go to left side
  text-align: center;
  padding: 2rem; */
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #EBE9E1;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.SideBar {
  height: 100%;
  width: 300px;
  background-color: #D6536D;
}

.SideBarList{
  height: auto;
  width: 100%;
  padding: 0;
}

.SideBarList .row{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex: 70%;
}

.title{
  text-align: center;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
